$width:1200px;
$color:#969696;

@mixin safe{
    width: $width;
    margin: 0 auto;
}
@mixin close{
        display:block;
        font-style: normal;
        float: right;
        cursor: pointer;
}
@mixin car {
    position: absolute;
    background-color: #8bc239;
    bottom: -25px;
    border-radius: 4px;
    text-align: center;
    line-height: 25px;
    color: #fff;
    em{
        padding-right: 12px;
    }
}
*{
    margin: 0;
    padding: 0;
}
img{
    display: block;
    border: none;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.top-img{
    width: 100%;
    height: 81px;
    background: url(../img/top-img.gif) no-repeat;
    position: relative;
    i{position: absolute;
        left: 1325px;
        top: 6px;
        color: $color;
        display: block;
        font-size: 20px !important;
    }
}
.navbox{
    width: 100%;
    height: 34px;
    background-color: #f7f7f7;
    .navsafe{
        @include safe;
    }
    .text{
        display: block;
        line-height: 34px;
        float: left;
        color: $color;
    }
    .dropdown{
        width: 214px;
        float: left;
        position: relative;
        .add-nav{
            text-align: left;
            display: none;
            width: 438px;
            height: 320px;
            position: absolute;
            z-index: 1000;
            border: 1px solid #dcdcdc;
            padding: 0 10px 0 10px;
            background-color: #fff;
            p{
                height: 20px;
                border-bottom: 1px solid #DCDCDC;
                font-size: 12px;
                color: #666666;
                padding: 7px 0 3px 0;
                i{
                    width: 18px;
                    height: 18px;
                   @include close;
                   background: url(../img/index_icon_new.png) -245px -33px no-repeat;
                }
            }
            .city-middle {
                height: 20px;
                ol {
                    margin: 0;
                    li{
                        width: 38px;
                        float: left;
                        a{
                            font-size: 12px;
                            color: #72d7d8;
                        }
                    }
                }
            }
            .morecity{
                font-size: 12px;
                color: $color;
                div{
                    padding-top: 10px;
                   padding-bottom: 5px;
                }
                ul{
                    width: 438px;
                    height: 30px;
                    li{
                        width: 40px;
                        text-align: center;
                        height: 25px;
                        line-height: 22px;
                        cursor: pointer;
                        color:#333333;
                        &:nth-child(1){
                            font-size: 12px;
                            color: $color;
                        }
                    }
                }
                
            }
        }
    }
    .btndown{
        display: inline-block;
        width: 52px;
        height: 22px;
        text-align: center;
        line-height: 22px;
        border: 1px solid #dcdcdc;
        font-size: 12px;
        background-color: #f7f7f7;
        margin-top: 5px;
        .caret{
            float: right;
            margin-right: 4px;
            border-top: 4px solid #cccccc;
        }
    }
     ul{
        float: right;
        width: 755px;
        height: 34px;
        margin: 0;
        li{
            float: left;
            font-size: 12px;
            color: $color;
            margin-top: 7px;
            padding-left: 10px;
            padding-right: 5px;
            padding-bottom: 5px;
            position: relative;
            a{
                font-size: 12px;
                color: $color;
                &:hover{
                    text-decoration: none;
                    color: #669900;
                }
            }
            .hot{
                width: 145px;
                height: 29px;
                position: absolute;
                top: 18px;
                left: 3px;
                img{
                    padding-left: 70px;
                }
                .hot-msg{
                    width: 145px;
                    height: 22px;
                    background-color: #f14431;
                    border-radius: 9px;
                    text-align: center;
                    line-height: 22px;
                    a{
                        color: #fff;
                    }
                }
            }
            .caret{
                margin-right: 4px;
                border-top: 4px solid #b5b5b5;
                margin-top: 5px;
            }
            @mixin menu{
                font-size: 12px;
                color: $color;
                display: none;
                text-align: center;
                position: absolute;
                border: 1px solid #969696;
                box-shadow: 0px 0px 2px #dcdcdc;
                background-color: #fff;
                li{
                    float: none;
                    margin: 0;
                    padding: 2px;
                   
                }
            }
            .dropdownmenu{
                width: 78px;
                height: 120px;           
                top: 24px;
                left: -1px;
                @include menu;
               
            }
            .dropdownmenu1{
                width: 78px;
                height: 150px;
                @include menu;
                top: 24px;
                left: -1px;
                z-index: 100;
            }
            .icon-shouji{
                padding-right: 2px;
            }
            .subnav{
                display: none;
                width: 780px;
                height: 167px;
                box-sizing: border-box;
                position: absolute;
                top: 27px;
                right: 0; z-index: 1000;
                border: 1px solid #f7f7f7;
                box-shadow: 0px 0px 2px #dcdcdc;
                padding: 20px 10px 20px 10px;
                background-color: #fff;
                dl{
                    float: left;
                    width: 246px;
                    text-align: center;
                    padding-left: 5px;
                    &:nth-child(2){
                        border-left: 1px solid #dcdcdc;
                        border-right: 1px solid #dcdcdc;
                        padding-bottom: 30px;
                    }
                    dt{
                        font-size: 16px;
                        font-weight: bold;
                    }
                    .title1{
                        color: #669900;
                    }
                    .title2{
                        color: #f39800;
                    }
                    .title3{
                        color: #000;
                    }
                    dd{
                        float: left;
                        font-size: 12px;
                        color: #333;
                        margin-top: 14px;
                        margin-left: 17px;
                        &:hover{
                            color: #669900;
                            cursor: pointer;
                        }
                    }
                    .last:hover{
                        color: #333;
                    }
                }
            }
            .icon-weibo1{
                color: #d61810;
                font-size: 19px;
                padding-right: 4px;
            }
            .icon-tubiao-weixin{
                color: #9dc651;
                font-size: 17px;
            }
        }
    }
 }
.logobox{
    width: 100%;
    height: 136px;
    background-color: #fff;
    border-bottom: 2px solid #679800;
    .logosafe{
        @include safe;
        height: 136px;
        .toplogo{
            height: 94px;
            img{
                display:block;
                border: none;
                padding-top: 5px;
                padding-right: 218px;
                float: left;
            }
            .formbox{
                float: left;
                padding-top: 28px;
                form{
                    width: 511px;
                    height: 36px;
                    box-sizing: border-box;
                    border: 1px solid #669900;
                    margin: 0;
                    .textbox{
                        border: none;
                        outline: none;
                        border-radius: 0;
                        width: 424px;
                        height: 34px;
                        margin: 0;
                        padding: 0;
                        padding-left: 5px;
                    }
                    .suo{
                        border: none;
                        outline: none;
                        width: 76px;
                        height: 34px;
                        background-color: #669900;
                        font-size: 16px;
                        color: #bccc9b;
                    }
                }
                span{
                    display: inline-block;
                    font-size: 12px;
                    color: $color;
                    padding-top: 5px;
                }
            }
            .shopcar{
                float: right;
                width: 196px;
                height: 35px;
                box-sizing: border-box;
                border: 1px solid #efefef;
                margin-top: 28px;
                background-color: #fff;
                position: relative;
                p{
                    width: 154px;
                    height: 33px;
                    font-size: 12px;
                    color: $color;
                    line-height: 33px;
                    margin-bottom: 0;
                    i{
                        font-size: 19px;
                        color: #949494;
                        padding-left: 17px;
                        padding-right: 12px;
                    }
                }
                .num{
                    border: none;
                    outline: none;
                    width: 40px;
                    height: 34px;
                    background-color: #fa9600;
                    position: absolute;
                    top: -1px;
                    right: 0;
                    font-size: 14px;
                    color: #fff;
                    font-weight: bold;
                }
            }
        }
        .downlogo{
            height: 32px;
            ul li{
                float: left;
                line-height: 32px;
                a{
                    font-size: 12px;
                    font-weight: bold;
                    color: #000;
                    padding-left: 24px;
                    padding-right: 24px;
                    &:hover{
                        text-decoration: none;
                        color: #669900;
                    }
                }
                .index{
                    color: #669900;
                }
                &:nth-of-type(1){
                    width: 200px;
                    height: 32px;
                    background-color: #669900;
                    margin-left: -25px;
                    text-align: center;
                    a{
                        color: #fff;
                    }
                }
            }
            img{
                float: right;
                cursor: pointer;
            }
        }
    }
}

.bannerbox{
    width: 100%;
    height: 480px;
    position: relative;
    background-color: pink;
    .slidenav{
        .leftnav{
                width: 195px;
                height: 480px;
                background-color: #76ac25;
                position: absolute;
                top: 0;
                left: 75px;
                padding-left: 5px;
                z-index: 10;
                .lei{
                    background-color: #fff;
                    a{
                     color:#76ac25;
                    }
                 }
                dl{
                    width: 169x;
                    height: 50px;
                    margin: 0;
                    background: url(../img/smalllogo.gif) no-repeat 8px 10px;
                    margin-top: 10px;
                    padding-left: 26px;
                    dt{
                        font-size: 14px;
                        padding-top: 6px;
                        font-weight: normal;
                        a{
                            color: #fff;
                        }
                    }
                    dd{
                        float: left;
                        font-size: 12px;
                        margin-left: 0;
                        margin-right: 10px;
                        a{
                            color: #ddeac8;
                        }
                    }
                }
        }
        
        .con{
            display: block !important;
        }
        .content{
            width: 560px;
            height: 480px;
            position: absolute;
            top: 0;
            left: 275px;
            background-color: #fff;
            opacity: .7;
            display: none;
           z-index: 10;
           i{
                width: 25px;
                height: 25px;
               @include close;
               background: url(../img/index_icon_new.png) -245px -1px no-repeat;
               margin: 6px;
           }
           .middle-msg{
               padding-top: 4px;
               p{
                   margin: 0px;
                   padding-top: 9px;
                   b{
                    text-align: right;
                    padding-left: 20px;
                    padding-right: 10px;
                    color: #679800;
                    &:hover{
                        text-decoration: underline;
                    }
                   }
                   em{
                       font-style: normal;
                       border-left: 1px solid #b5b5b5;
                       padding: 0 5px;
                       color: $color;
                       &:hover{color: #679800;}
                   }
               }
           }
           img{
               display: block;
               position: absolute;
               bottom: 0;
           }
        }
    }
    .msgbox{
        width: 260px;
        height: 447px;
        position: absolute;
        top: 15px;
        right: 100px;
        z-index: 10;
        ul li{
            width: 260px;
            position: relative;
            img{
                width: 100%;
                margin-bottom: 1px;
            }
                p{
                    background-color: #949494;
                    opacity: .3;
                    display: none;
                    position: absolute;
                }
                .glass1{
                    width: 260px;
                    height: 185px;
                    top: 0;
                    left: 0;
                }
                .glass2,.glass3{
                    width: 260px;
                    height: 130px;
                    top: 0;
                    left: 0;
                }
        }

    }
    .safebanner{
        position: relative;
        width: 1025px;
        margin: 0 auto;
        height: 480px;
        overflow: hidden;
        left: 87px;
        #sliderList{
            position: absolute;
            margin: 0;
            width: 7175px;
            top: 0;
            left: 0;
          
            li{
                float: left;
                width: 1025px;
                height: 480px;
                img{
                    width: 1025px;
                    height:480px;
                }
            }
        }
        #numList{
            position: absolute;
            bottom: 10px;
            left: 260px;
            li{
                float: left;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                font-size: 16px;
                text-align: center;
                line-height: 25px;
                margin: 0 10px;
                cursor: pointer;
                background-color: #5b617b;
                color: #d0d6f0;
                opacity: .7;
            }
            
        }
       #numList li.hover{
            background-color: #d3892b;
        }
    }
}
@mixin price {
    span{
        font-size: 14px;
        padding: 11px;
        white-space: nowrap;
        a{
            color: #323232;
        }
        a:hover{
            text-decoration: none;
        }
    }
    b{
        color: #f33f00;
        font-style: 12px;
        padding-left: 15px;
        i{
            font-style: normal;
            font-size: 9px;
        }
    }
}
.goods{
    // @include safe;
    height: 545px;
    margin-top: 35px;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    .leftimg{
        position: absolute;
        top: 0;
        left: -127px;
    }
    .rightimg{
        position: absolute;
        top: 0;
        right: -117px;
    }
    .goodssafe{
        @include safe;
        height: 545px;
        .listbox{
            width: 945px;
            height: 545px;
            float: left;
                h4{
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 1;
                    margin: 0;
                    padding: 0 0 10px 3px;
                    color: #333;
                    b{
                        font-weight: normal;
                        font-size: 12px;
                        color: #565656;
                        padding-left: 16px;
                    }
                }
                .goodsList{
                    width: 945px;
                    height: 519px;
                    box-sizing: border-box;
                    border-bottom: 1px solid #e8e8e8;
                    border-right: 1px solid #e8e8e8;
                    ul{
                        margin: 0;
                        li{
                            width: 236px;
                            height: 259px;
                            box-sizing: border-box;
                            float: left;
                            border-top: 1px solid #e8e8e8;
                            border-left: 1px solid #e8e8e8;
                            position: relative;
                            overflow: hidden;
                            .pricebox{
                                width: 236px;
                                height: 54px;
                                overflow: hidden;
                                @include price;
                                
                            }
                            img{
                                width: 204px;
                                height: 204px;
                                padding-left: 22px;
                            }
                            .car{
                               @include car;
                                width: 150px;
                                height: 25px;
                                left: 41px;
                               
                            }
                        }
                    }
                }
        }
        .news{
            width: 224px;
            height: 529px;
            float: right;
            margin-top: 16px;
            box-sizing: border-box;
            border: 1px solid #e8e8e8;
            overflow: hidden;
            img{
                width: 220px;
                height: 300px;
                margin-left: 1px;
            }
            dl{
                padding: 16px 10px 0 10px;
                margin: 0;
                dt{
                    font-size: 14px;
                    color: #323232;
                    font-weight: normal;
                    border-bottom: 1px dashed #dbdbdb;
                    padding-bottom: 11px;
                    a{
                        padding-left: 110px;
                        color: #969696;
                        font-size: 12px;
                        &:hover{
                            text-decoration: none;
                            color: #76ac25;
                        }
                    }
                }
                dd{
                    margin: 0;
                    width: 196px;
                    height: 26px;
                   overflow: hidden;
                   line-height: 26px;
                   a{
                    font-size: 12px;
                    color: #fa6400;
                   }
                }
            }
        }
    }
}
.productbox{
    @include safe;
    height: 600px;
    img{
        width: 1190px;
        height: 100px;
        margin-left: 10px;
        margin-bottom: 30px;
    }
   div{
       height: 470px;
       width: $width;
       .leftpro{
            width: 250px;
            height: 470px;
            float: left;
            .shui{
                width: 225px;
                height: 50px;
                background: #76ac25 url(../img/furits.png) no-repeat 75px 17px;
                margin-left: 10px;
                border-radius: 5px 0 0 0 ;
                font-size: 16px;
                color: #fff;
                text-align: center;
                line-height: 50px;
                padding-left: 15px;
            }
            img{
                width: 260px;
                height: 420px;
                margin-left: 0;
            }
        }
        .rightpro{
            width: 950px;
            height: 468px;
            float: left;
            border-top: 1px solid #adcd7c;
            border-bottom: 1px solid #f4f4f4;
            .prolist{
                width: 730px;
                height: 468px;
                float: left;
                ul {
                    margin: 0;
                    padding-left: 10px;
                    li{
                        width: 160px;
                        height: 211px;
                        float: left;
                        margin: 15px 8px;
                       .propic{
                           width: 160px;
                           height: 160px;
                           position: relative;
                           overflow: hidden;
                           img{
                                width: 160px;
                                height: 160px;
                                margin: 0; 
                            }
                            .car{
                                width: 160px;
                                height: 25px;
                                left: 0;
                                font-size: 12px;
                               @include car;
                            }
                       }
                        .pricebox_2{
                            width: 160px;
                            height: 51px;
                            overflow: hidden;
                            @include price;
                            b,span{
                                padding-left: 0;
                            }
                            span{
                                font-size: 12px;
                            }
                            .car{
                                width: 160px;

                            }
                        }
                    }
                }
            }
            .sel{
                width: 220px;
                height: 468px;
                float: left;
                .seltop{
                    width: 220px;
                    height: 238px;
                    background-color: #f4f4f4;
                    ul {
                        margin: 0;
                        padding: 25px 16px 0 15px;
                        li{
                            float: left;
                            width: 55px;
                            height: 55px;
                            border-radius: 50%;
                            background: url(../img/index_icon_new.png) no-repeat 0 0;
                            margin: 4px;
                            text-align: center;
                            line-height: 55px;
                            color: #333333;
                            &:hover{
                                background: url(../img/index_icon_new.png) no-repeat 0px -61px;
                                color: #fff;
                            }
                         }
                    }
                }
                .selbot{
                    width: 220px;
                    height: 230px;
                    position: relative;
                    img{
                        width: 220px;
                        height: 230px;
                        margin: 0;
                    }
                    p{
                        width: 25px;
                        height: 25px;
                        position: absolute;
                        background: url(../img/index_icon_new.png) no-repeat -204px 0;
                        top: 65px;
                        left: 15px;
                        &:hover{
                            background: url(../img/index_icon_new.png) no-repeat -204px -33px;
                        }
                    }
                }
            }
        }
   }
}
.recommend{
    @include safe;
    height: 660px;
    box-sizing: border-box;
    border: 1px solid #f5f5f5;
    margin-top: 46px;
    position: relative;
    .point{
        width: 116px;
        height: 23px;
        position: absolute;
        top: -14px;
        left: 50%;
        margin-left: -58px;
        background:#fff;
        text-align: center;
        i{
            width: 97px;
            height: 23px;
            display: inline-block;
            background: url(../img/sf_new_bg.png) no-repeat 0 0;
        }
    }
    ul{
        margin: 0;
        padding-left: 12px;
        padding-top: 12px;
        li{
            width: 210px;
            height: 290px;
            float: left;
            margin: 12px 12px;
            
            .recpic{
                width: 210px;
                height: 210px;
                overflow: hidden;
                position: relative;
                img{
                    width: 210px;
                    height: 210px;
                }
                .car_3{
                    @include car;
                    width: 210px;
                    height: 25px;
                }
            }
            .pricebox_3{
                @include price ;
                overflow: hidden;
                span{
                    display: inline-block;
                    padding: 12px 0 25px 0;
                   a{
                    font-size: 12px;
                    color: #666666;
                   }
                }
                b{
                    padding-left: 0;
                }
            }
        }
    }
}

