@mixin safe {
    width: 1002px;
    margin: 0 auto;
}
body{
    background-color: #f5f5f5;
}
a{
    text-decoration: none;
}
img{
    display: block;
    border: none;
}
.top{
    @include safe;
    height: 90px;
    img{
        float: left;
        margin: 10px;
    }
    p{
        font-size: 24px;
        color: #515151;
        float: left;
        i{
            display: inline-block;
            width: 4px;
            height: 4px;
            background-color: #c7c7c7;
            border-radius: 50%;
        }
    }
}
.bottom{
    @include safe;
    height: 36px;
   .yonghu{
    height: 36px;
    p{
        float: left;
        height: 36px;
        width: 163px;
        background-color: #fff;
        border: 1px solid #d5d5d5;
        border-bottom: none;
        margin: 0 330px 0 383px;
        text-align: center;
        line-height: 36px;
    }
    span{
        font-size: 12px;
        display: block;
        color: #565656;
        float: right;
        line-height: 36px;
        a{
            color: #6e9b0c;
        }
        
    }
   }
    .zhuce{
        @include safe;
        height: 450px;
        box-sizing: border-box;
        background-color: #fff;
        border: 1px solid #d6d5d5;
        padding: 50px;
        form{
            width:360px;
            text-align: right;
            float: left;
            input{
                width: 268px;
                height: 36px;
                border: 1px solid #d6d5d5;
                margin-bottom: 20px;
               
            }
            #btn{
                color: #fff;
                background-color: #6e9b0c;
                border-radius: 5px;
                border: none;
            }
        }
        img{
            float: right;
            right: 20px;
        }
    }
}